@import "tailwindcss";
// @import 'src/styles.scss';

html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.custom-nav {
  display: none;
}

@media (min-width: 1299px) {
  .custom-nav {
    display: flex !important;
  }
}

 .menu-item {
    width: 100%;
    text-align: left;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #3f3f46; /* zinc-700 */
    outline: none;
    transition: background-color 0.2s;
  }
  .menu-item:hover {
    background-color: #f4f4f5; /* zinc-100 */
  }
  .menu-item:focus {
    outline: none;
  }
  .menu-item.danger {
    color: #dc2626; /* red-600 */
  }
  .menu-item.danger:hover {
    background-color: #fef2f2; /* red-50 */
  }

  /* Scrollbar styles */
  
  /* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

:root {
  --color-primary: #612e77;
  --color-secondary: #9b59b6;
  --color-accent: #f3e8ff;
  --color-text: #1a1a1a;
  --color-bg: #ffffff;
}
